.Register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/Images/sidebar-photo1.jpg);
  font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  .auth-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    text-align: center;
  }

  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
    font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }

  ::placeholder {
    padding: 0 30px;
  }
  .input-icon .icon {
    position: absolute;
  }

  .input-icons {
    width: 100%;
    margin-bottom: 10px;
  }

  .icon {
    padding: 10px 0;
    color: green;
    min-width: 40px;
    text-align: center;
  }

  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #036825;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Montserrat;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }

  button:hover {
    background-color: #99ffaf;
  }
}
