@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Mooli&family=Nunito:wght@500&display=swap");
.Avater {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 100px;
  background-color: black;
  background-image: url(/Images/sidebar-photo1.jpg);

  .male-section {
    border-radius: 50%;
    img {
      width: 250px;
      height: 220px;
      border-radius: 50%;
    }
    h2 {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .female-section {
    img {
      width: 250px;
      height: 220px;
      border-radius: 50%;
    }
    h2 {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  @media only screen and (max-width: 480px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;

    .male-section {
      img {
        width: 155px;
        height: 130px;
      }
    }
    .female-section {
      img {
        width: 155px;
        height: 130px;
      }
    }
  }
}
